use_flake() {
  watch_file flake.nix
  watch_file flake.lock
  watch_file default.nix
  mkdir -p "$(direnv_layout_dir)"
  . <(nix print-dev-env --profile "$(direnv_layout_dir)/flake-profile")
}

use flake

